* {
    margin: 0px;
    padding: 0px;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
}

/* SIDEBAR STUFF */

.sidebar{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 13vw;
    background-color: #1D71F2;
}

.windowButtonWrapper{
    display: flex;
    flex-direction: row;
    margin: 16px;
}

.btn {
    margin: 4px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
  
.btn:before, .btn:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1px;
    opacity: 0;
    transition: all 300ms ease-in-out;
}
  
.close-btn {
    background: #FF5D5B;
}
  
.min-btn {
    background: #FFBB39;
}
  
.max-btn {
    background: #00CD4E;
}

.close-btn:before, .close-btn:after {
    width: 1px;
    height: 70%;
    background: #460100;
}
  
.close-btn:before {
    transform: translate(-50%, -50%) rotate(45deg);
}
  
.close-btn:after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.min-btn:before {
    width: 70%;
    height: 1px;
    background: #460100;
}
  
.max-btn:before {
    width: 6px;
    height: 6px;
    background: #024D0F;
}
  
.max-btn:after {
    width: 2px; /*how far away the arrows are from each other*/
    height: 10px;  /*20% more than height before*/
    transform: translate(-50%, -50%) rotate(45deg);
    background: #00CD4E;
}

.btn:hover:before, .btn:hover:after {
    top: 50%;
    opacity: 1;
}


/* LOCATION LIST */

.locationList{
    margin: 16px;
}

.myLocation{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.locationTopContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.locationNameContainer{
    display: flex;
    flex-direction: column;
}

.locationTempContainer{

}

.locationTemp{
    font-size: 200%;
}

.locationBottomContainer{
    display: flex;
    justify-content: space-between;
}

/* MAIN CONTENT */

.content{
    display: flex;
    flex-direction: column;
    background-color: #19C3FB;
    width: 87vw;
}

.contentTopContainer{
    margin: 8px;
    height: 3vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contentTitleContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contentMainContainerFlex{
    /* height: 100vh; */
    display: flex;
    justify-content: center;
}

.contentMainContainer{
    display: flex;
    justify-content: center;
}

.contentLeftContainer{
    
}

.tenDay{
    display: flex;
    justify-content: space-between;
}

.leftBottomContainer{
    display: flex;
}

.leftBottomRightContainer{
    display: flex;
    flex-direction: column;
}

.leftBottomRightBottomContainer{
    display: flex;
}

.leftBottomRightBottomRightContainer{
    display: flex;
    flex-direction: column;
}

.leftBottomRightBottomLeftContainer{
    display: flex;
    flex-direction: column;
}




.uvIndexContainer{

}

.feelsLikeContainer{

}

.sunsetContainer{

}

.humidityContainer{

}

.contentRightContainer{

}

.contentRightBottomContainer{
    display: flex;
    flex-direction: row;
}

.contentRightBottomLeftContainer{
    display: flex;
    flex-direction: column;
}

.contentRightBottomRightContainer{
    display: flex;
    flex-direction: column;
}


.contentStreetNameContainer{
    display: flex;
    justify-content: center;
}



/* DIV STYLES */

.square1x1{
    height: 144px;
    width: 144px;
    margin: 8px;
    border-style: solid;
    border-width: 1px;
}

.square2x2{
    height: 306px;
    width: 304px;
    margin: 8px;
    border-style: solid;
    border-width: 1px;
}

.rectangle{
    height: 144px;
    width: 306px;
    margin: 8px;
    border-style: solid;
    border-width: 1px;
}

.rectangle2x3{
    height: 468px;
    width: 306px;
    margin: 8px;
    border-style: solid;
    border-width: 1px;
}

.rectangle4x1{
    height: 144px;
    width: 630px;
    margin: 8px;
    border-style: solid;
    border-width: 1px;
}